# GET THIS URL FROM NEON DASHBOARD --- https://console.neon.tech/app/projects/ancient-mode-32175107/branches/br-hidden-darkness-ap4xhp4j/tables?database=neondb
DATABASE_URL=
JWT_SECRET=
REFRESH_TOKEN_SECRET=
PORT=5000
CLIENT_URL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

FRONTEND_URL=http://localhost:3000
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=

GOOGLE_CLIENT_ID=
GEMINI_API_KEY=

OPENROUTER_API_KEY=
#npx prisma migrate dev --name init (run this command to create the database and tables)
#npx prisma generate (run this command to generate the Prisma client)